<div class="black">
    <!--
<div class="navbar-fixed">
<nav class="blue-grey darken-4">
<div class="nav-wrapper  gray">
<a href="#" class="brand-logo">Barrick Haul Truck Operations Portal</a>
<a routerLink="/home" routerLinkActive="active">Home</a>
<a routerLink="/heroes" routerLinkActive="active">Heroes</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
<li><a href="#">Login</a></li>
</ul>
</div>
</nav>
</div>
-->

    <nav  class="blue-grey darken-4">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Barrick Haul Truck Operations Portal</a>
<!--
            <ul id="nav-mobile" >
                <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/truck" routerLinkActive="active">Truck</a></li>
            </ul>
-->
        </div>
    </nav>
    
    <div  >
        <router-outlet></router-outlet>
    </div>

    <footer class="page-footer blue-grey darken-4">
        <div class="container">

        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a href="#">Team PI in the Sky</a>
            </div>
        </div>
    </footer>
</div>
